h1 {
	color: rgba(0,200,100, 0.8);
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 2px dashed rgb(255,100,80);
}

h4 {
	background-color: rgb(255,100,80);
}

body {
	background: pink;
	/*background: url(https://i.pinimg.com/originals/b6/07/95/b60795007716db1797bf6245dda97361.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}